{
    "ConnectionStrings": {
      "LocalConnection":"Host=localhost;Port=5432;Database=budhub_db;Username=postgres;Password=rootroot"
    },
    "Jwt" :{
	    "Issuer": "Budhub",
      "Audience": "Local",
      "SecretKey": "4A3B5C6D7E8F1234567890ABCDEF0123"
	}
}