{
    "ConnectionStrings": {
      "LocalConnection":"Host=localhost;Port=5432;Database=budhub_db;Username=postgres;Password=rootroot"
    },
    "Jwt" :{
	    "Issuer": "Budhub",
      "Audience": "Local",
      "SecretKey": "<Some string stored on 1Password>"
	}
}