{
    "ConnectionStrings": {
      "LocalConnection":"Host=localhost;Port=5432;Database=budhub_db;Username=postgres;Password=rootroot"
    },
    "AppSecrets" :{
		"JWTSecret": "<Some string stored on 1Password>"
	}
}